<div *ngIf="!isAdminLoggedIn && !isStudentLoggedIn">
  <mat-toolbar color = "primary"  class="navbar">
    <span class="navbar-brand">Not LoggedIN</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Admin</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashbord" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isStudentLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Student</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/student/dashbord" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>




<router-outlet></router-outlet>