<div class="bg">
    <div class="parent">
        <div class="child">
            <h1>Welcome to the Login Page!</h1>
            <form class="Login-form" [formGroup]="loginForm">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Enter Email" formControlName="email"/>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">This Input IS 
                        Required!</mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please Enter The valid Email
                        address</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password"/>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">This Input IS 
                        Required!</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Login</button>

            </form>

        </div>
    </div>

</div>
