<div class="card-container", fxLayout.xs="column" fxLayoutGap="16px">
    <mat-card-header style="background-color: #3f51b5;">
        <mat-card-title style="color: white;">Name:</mat-card-title>
        <mat-card-subtitle style="color: white;">Facualty:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
        <p>Email:</p>
        <p>Father Name:</p>
        <p>Mother Name:</p>
        <p>Date od Birth:</p>
        <p>Gender:</p>
        <p>Address:</p>
    </mat-card-content>
</div>